@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: lightgray;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.section {
  opacity: 0;
  height: auto;
  transition: opacity 0.75s ease-in-out, max-height 0.75s ease-in-out; /* Animate opacity and height */
  overflow: hidden;
}

.section.active {
  opacity: 1;
  max-height: 100vh; /* Expand height. Choose a large enough value to accommodate the content */
}

.section.inactive {
  opacity: 0;
  max-height: 0px;
  transition: opacity 0.75s ease-in-out, max-height 0.75s ease-in-out; 
}

/* .section p {
  margin: 0;
  padding: 10px 0;
} */
